@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    overflow-x: hidden;
    width: 100vw;
}
:root {
    --hom: #34ffbd;
    --bg: #214194;
    --whi: #ffffff;
}

.container {
    width: 100%;
    position: relative;
}

.nav {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #214194;
    padding: 30px 30px;
}

.image1 {
    width: 350px;
    height: 50px;

}

.image1 img {
    width: 100%;
    height: 100%;
}

.home {
    display: flex;
    align-items: center;
    gap: 40px;
}

li {
    list-style: none;
}

.home h6 {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0px;

}

.home h6 a.active {
    color: #214194;
}

.home h6 a {
    text-decoration: none;
    color: black;
}

.home h6 a:hover {
    color: #214194;
}

.home h6:nth-child(2) {
    position: relative;
}

.about {
    padding: 12px 15px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 180px;
    border: 1px solid rgba(128, 128, 128, 0.301);
    position: absolute;
    left: -30px;
    top: 40px;
    display: none;
    color: black;
    border-top: 5px solid rgb(7, 147, 182);
}

.about li a:hover {
    color: rgb(7, 147, 182);
}

.home h6:nth-child(2):hover .about {
    display: flex;
}

.home h6:nth-child(3) {
    position: relative;
}

.ser {
    border-top: 5px solid rgb(7, 147, 182);
    padding: 12px 15px;
    border-radius: 10px;
    position: absolute;
    left: -50px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
    background-color: white;
    display: none;
    color: black;
}

.ser li,
.about li {
    font-weight: 500;
    font-size: 1.2rem;
}

.ser li a:hover {
    color: rgb(7, 147, 182);
}

.home h6:nth-child(3):hover .ser {
    display: flex;
}

.home button {
    font-size: 20px;
    border: none;
    background-color: #214194;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 15px;
    cursor: pointer;
    width: 180px;
}

.home button a {
    text-decoration: none;
    color: white;
}

.home button:hover {
    color: #214194;
    background-color: white;
    border: 1px solid #214194;
}

.home button:hover a {
    color: #214194;
}

.head {
    background-color: #214194;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 60px;
    height: 300px;
    line-height: 70px;
}

.head h5 a{
    text-decoration: none;
    color: white;;
}

.cent1 {
    margin: 50px auto;
    width: 600px;
    text-align: center;

}

.cent1 p:first-child {
    font-weight: bold;
    color: rgb(46, 113, 214);
    margin: 10px 10px;
}

.cent1 p:last-child {
    margin: 20px 20px;
}

.cent2 {
    width: 80%;
    border: none;
    margin: 0px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;


}

.mark {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(146, 140, 140);
    padding: 50px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.mark::after {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #214194;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.5s;
}

.mark:hover::after {
    left: 0;
    width: 100%;
}


.mark img {
    width: 80%;
    height: 80%;


}

.mark div {

    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.mark h4 {
    color: var(--bg);
}

.mark:hover h4 {
    color: #ffffff;
}

.mark p {
    margin: 10px;
}

.mark:hover p {
    color: #ffffff;
    opacity: 0.8;

}

footer {
    margin: 50px auto;
    margin-bottom: 0px;
    width: 100%;
    border: none;
    border-top: 2px solid #214194;
    /* background-color: #bed62f; */
    /* background-color:#66caeb ; */
}

.foot1 {
    width: 90%;
    margin: 10px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px 0px;
    padding-bottom: 50px;
}

.f1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.image3 {
    width: 250px;
    height: 50px;
}

.image3 img {
    width: 100%;
    height: 100%;
}

.f-icons {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}

.f-icons i {
    width: 40px;
    height: 40px;
    background-color: #214194;
    ;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.f-icons i:hover {
    border: 1px solid #214194;
    background-color: white;
    color: #214194;
    cursor: pointer;
}

.qq {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.qq h2 {
    color: #214194;
}

.qq p {
    cursor: pointer;
    font-size: 16px;
    color: rgba(2, 2, 2, 0.705);
}


.qq p a:hover {
    color: #214194;
}

.qq p a {
    text-decoration: none;
    color: rgba(2, 2, 2, 0.705);
}

.f4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.f4 h2 {
    color: #214194;
}

.f4 div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.f4 div i {
    font-size: 1.2rem;
    color: #214194;
}

.f4 div p {
    font-size: 16px;
    color: rgba(2, 2, 2, 0.705);
    cursor: pointer;
}

.f4 div p:hover {
    color: #214194;
}

.f4 div:nth-child(3) p:hover {
    text-decoration: underline;
}

footer hr {
    border-color: black;
    height: 1px;
    width: 90%;
    margin: 0px auto;
}

.f-bottom p {
    color: rgba(2, 2, 2, 0.705);
    padding: 20px 0px;
    text-align: center;
}




@media (max-width:600px){
    .head,.cent2,.cent1{
        width: 100%;
        
    }
    .cent2{
        width: 90%;
    }
}

