* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.box {
    border: 0px solid black;
    width: 100%;
    margin: auto;
    margin-top: 76px;
}


.main{
    width: 80%;
    margin: 0px auto;
   
}
.part1 {
    width: 100%;
    display: flex;
    margin: 30px auto;
    gap: 30px;
}

.para{
    width: 55%;
    font-size: 20px;
    font-weight: 300;
}

.para1 {
    width: 45%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.para1 img {
    width: 100%;
    height: 100%;
}

.para p {
    text-align: justify;
    font-size: 16px;
    margin: 20px 0px;
    line-height: 30px;
}
.para3 h1{
    font-size: 2rem;
}
.para3 p{
    text-align: justify;
}
.butn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butn button {
    border: 1px solid #214194;
    width: 120px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #214194;
    color: white;
}

.para button:hover {
    background-color: white;
    color: #214194;
}
.para1:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.part2{
    width: 100%;
    margin: 30px auto;
    gap:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.para2{
    width: 45%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;

}

.para2 img {
    width: 100%;
    height: 100%;
}

.para3{
    width: 55%;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding-left:20px;
}

.para3 p {
    font-size: 16px;
    margin: 30px 0px;
    line-height: 30px;
}
.para2:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.part3{
    font-size: 1.5rem;
    text-align: center;
    color: #214194;

}

button {
    border: 1px solid #214194;
    width: 120px;
    height: 45px;
    border-radius: 40px;
    text-align: center;
    padding-top: 1px;
    background-color: #214194;
    color: white;
}

button:hover {
    background-color: white;
    color: #214194;
}

.Click {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 50px auto;
    row-gap: 20px;
    text-align: center;
   
    
}

.para4 {
    border: 1px solid #214194;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 300px;
    height: 300px;
    padding: 10px 20px;
}

.para4 h4 {
    margin-bottom: 20px;
}

.user {
    width: 150px;
    height: 120px;
    overflow: hidden;
    margin: auto;
}

.user img {
    width: 80%;
    height: 100%;
    margin: auto;
}

.Click h4 {
    color: #214194;
    font-size: 18px;
}
.para4 h4{
    margin: 10px auto;
}
.part5 {
    font-size: 25px;
    color: #214194;
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 30px;
}

.Ding {
    width: 60%;
    border: 0px solid black;
    display: flex;
    margin: 30px auto;
    margin-top: 0px;
}

.blog {
    width: 100%;
    height: 120px;
    border: 1px solid white;
    padding-bottom: 15px;
    text-align: center;
    font-size: 17px;
    color: #214194;
    background-color: #e3e5e9;
}

.blog h5 {
    font-size: 23px;
    color: #214194;
}

.flat p {
    padding-bottom: 30px;
}
.flat{
    width:50%;
}
.para8 {
    border: 2px solid white;
    height: 50px;
    text-align: center;
    padding-bottom: 25px;
    font-size: 27px;
    background-color: #8ac3f1;
    color: white;
    font-weight: 300;
}

.para9 {
    border: 2px solid white;
    height: 50px;
    padding-bottom: 25px;
    font-size: 27px;
    text-align: center;
    background-color: #0147c4;
    color: white;
    font-weight: 300;
}




.part4 {
    width: 100%;
    background-color: #214194;
    padding: 30px 0px;
    margin: 50px auto;

}

.para5 {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 120px;
    align-items: center;
}

.para6{
    width: 55%;
}

.para6 h2 {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;

}

.para6 p {
    color: darkgrey;
    font-size: 16px;
}

.para7 {
    width: 40%;
    height: 280px;
}

.para7 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.para7:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.para4:hover img {
    transform: scale(1.2);
    transition: 1s;
}


.container {
    width: 100%;
    position: relative;
}

.nav {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #214194;
    padding: 30px 30px;
}

.image1 {
    width: 350px;
    height: 50px;

}

.image1 img {
    width: 100%;
    height: 100%;
}

.home {
    display: flex;
    align-items: center;
    gap: 40px;
}

li {
    list-style: none;
}

.home h6 {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0px;

}

.home h6 a.active {
    color: #214194;
}

.home h6 a {
    text-decoration: none;
    color: black;
}

.home h6 a:hover {
    color: #214194;
}

.home h6:nth-child(2) {
    position: relative;
}

.about {
    padding: 12px 15px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 180px;
    border: 1px solid rgba(128, 128, 128, 0.301);
    position: absolute;
    left: -30px;
    top: 40px;
    display: none;
    color: black;
    border-top: 5px solid rgb(7, 147, 182);
}

.about li a:hover {
    color: rgb(7, 147, 182);
}

.home h6:nth-child(2):hover .about {
    display: flex;
}

.home h6:nth-child(3) {
    position: relative;
}

.ser {
    border-top: 5px solid rgb(7, 147, 182);
    padding: 12px 15px;
    border-radius: 10px;
    position: absolute;
    left: -50px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
    background-color: white;
    display: none;
    color: black;
}

.ser li,
.about li {
    font-weight: 500;
    font-size: 1.2rem;
}

.ser li a:hover {
    color: rgb(7, 147, 182);
}

.home h6:nth-child(3):hover .ser {
    display: flex;
}

.home button {
    font-size: 20px;
    border: none;
    background-color: #214194;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 15px;
    cursor: pointer;
    width: 180px;
}

.home button a {
    text-decoration: none;
    color: white;
}

.home button:hover {
    color: #214194;
    background-color: white;
    border: 1px solid #214194;
}

.home button:hover a {
    color: #214194;
}
.box1 {
    background-color: #214194;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.box1 h5{
    font-size: 1rem;
}
.box1 h5 a {
    text-decoration: none;
    color: white;
}


footer {
    margin: 50px auto;
    margin-bottom: 0px;
    width: 100%;
    border: none;
    border-top: 2px solid #214194;
    /* background-color: #bed62f; */
    /* background-color:#66caeb ; */
}

.foot1 {
    width: 90%;
    margin: 10px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px 0px;
    padding-bottom: 50px;
}

.f1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.image3 {
    width: 250px;
    height: 50px;
}

.image3 img {
    width: 100%;
    height: 100%;
}

.f-icons {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}

.f-icons i {
    width: 40px;
    height: 40px;
    background-color: #214194;
    ;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.f-icons i:hover {
    border: 1px solid #214194;
    background-color: white;
    color: #214194;
    cursor: pointer;
}

.qq {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.qq h2 {
    color: #214194;
}

.qq p {
    cursor: pointer;
    font-size: 16px;
    color: rgba(2, 2, 2, 0.705);
}


.qq p a:hover {
    color: #214194;
}

.qq p a {
    text-decoration: none;
    color: rgba(2, 2, 2, 0.705);
}


.f4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.f4 h2 {
    color: #214194;
}

.f4 div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.f4 div i {
    font-size: 1.2rem;
    color: #214194;
}

.f4 div p {
    font-size: 16px;
    color: rgba(2, 2, 2, 0.705);
    cursor: pointer;
}

.f4 div p:hover {
    color: #214194;
}

.f4 div:nth-child(3) p:hover {
    text-decoration: underline;
}

footer hr {
    border-color: black;
    height: 1px;
    width: 90%;
    margin: 0px auto;
}

.f-bottom p {
    color: rgba(2, 2, 2, 0.705);
    padding: 20px 0px;
    text-align: center;
}

@media (max-width:600px){
    .box1 h1{
        font-size: 2rem;
    }
    .part1{
        flex-direction: column;
    }
    .para{
        width: 100%;
    }
    .para h1,.para3 h1{
        font-size: 1.5rem;
    }
    .para p{
        font-size: 1rem;
    }
    .para1,.para2{
        width: 70%;
        height: 150px;
        margin: auto;
    }
    .para1 img,.para2 img{
        width: 100%;
        height: 100%;
    }
    .part2{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .para3{
        width: 100%;
        padding-left: 0;
    }
    .para5{
        flex-direction: column;
        gap: 20px;
    }
    .para6{
        width: 100%;
    }
    .para7{
        width: 70%;
        height: 150px;
    }
    .para7 img{
        width: 100%;
        height: 100%;
    }
    .part5{
        font-size: 1.5rem;
    }
    .part3{
        font-size: 1.2rem;
    }
    .Ding{
        width: 100%;
    }
    .flat{
        width: 50%;
    }
   
    .blog{
        width: 100%;
        height: 160px;
        padding: 0px 3px;
    }
}
@media (max-width:800px){
    .part1,.part2{
        gap: 30px;
    }
    .part1 h1,.part2 h1{
        font-size: 1.4rem;
    }
    .para1,.para2{
        height: 200px;
    }
    .para3{
        padding-left: 10px;
    }
    .Ding{
        width: 100%;
    }
    .blog{
        height: auto;
        padding: 10px 20px;
    }
}
@media (max-width:1024px){
    .part1,.part2{
        gap: 30px;
    }
    .part1 h1,.part2 h1{
        font-size: 1.4rem;
    }
    .para1,.para2{
        height: 200px;
    }
    .para3{
        padding-left: 10px;
    }
    .Ding{
        width: 100%;
    }
    .blog{
        height: auto;
        padding: 5px 20px;
    }
}