<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../stylesheets/About.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="../stylesheets/res.css">
</head>

<body>
    <div class="cont">
        <div class="container">
            <div class="nav">

                <div class="image1">
                    <img src="../Media/ascus.png" />
                </div>
    
                <div class="home">
                    <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>
    
                    <h6 class="rightNav"><a href="../Templates/About.html"  class="active">About Us</a>
                        <div class="about">
                            <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                            <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                        </div>
                    </h6>
    
                    <h6 class="rightNav">
                        <a href="../Templates/services.html">Services </a>
                        <div class="ser">
                            <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                            <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                            <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                            <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                            <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                            <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                            <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                            <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                        </div>
                    </h6>
                    <button><a href="../Templates/contact.html">Contact Us</a></button>
                </div>
                <div class="sideNav">
                    <input type="checkbox" id="side">
                    <label for="side" class="lines">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </label>
                    <div class="Slide">
                        <div class="SideTop">
                            <label for="side">X</label>
                            
                        </div>
                        <div class="SlideLinks">
                            <li><a href="index.html">Home</a></li>
                            <li>
                                <input type="checkbox" id="aLink">
                            <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                            <div class="aLinks">
                                <a href="../Templates/Our Vision.html">Our Vision</a>
                                <a href="../Templates/ourmission.html">Our Mision</a>
                            </div></li>
                            <li>
                                <input type="checkbox" id="sLink">
                                <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                            <div class="cc">
                                <a href="../Templates/webdev.html">Web Development</a>
                                <a href="../Templates/appdevelopment.html">App Development</a>
                                <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                                <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                                <a href="../Templates/cyber.html">Cyber Security Development</a>
                                <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                                <a href="../Templates/Egovt.html">E-Governance</a>                            
                            </div>
                            </li>
                            <li><a href="../Templates/contact.html">ContactUs</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header>
            <div class="header1">
                <h1>About Us</h1>
                <h5><a href="index.html">Home</a> / About Us</h5>
            </div>
        </header>
        <div class="cont1">
            <div class="center">
                <div class="ce">
                    <img
                        src="https://media.istockphoto.com/id/1435220822/photo/african-american-software-developer.jpg?s=612x612&w=0&k=20&c=JESGRQ2xqRH9ZcJzvZBHZIZKVY8MDejBSOfxeM-i5e4=" />
                </div>
                <div class="cee">
                    <h1>Empowering Innovation:</h1>
                    <h1> AscusTech - Your Trusted Technology Partner</h1>
                    <p>AscusTech is a renowned technology services and consulting company based in the vibrant city of
                        Hyderabad. With a commitment to excellence and a passion for innovation, we empower businesses
                        to thrive in the digital age through cutting-edge technology solutions and strategic consulting
                        services.</p>
                    <h1>Transform Your Business with AscusTech</h1>
                    <p>Partner with AscusTech and embark on a journey of innovation and growth. Whether you're a startup
                        looking to disrupt the market or an established enterprise seeking to stay ahead of the
                        competition, we have the expertise and resources to help you achieve your goals. Contact us
                        today to learn more about our services and how we can be your trusted technology partner in
                        Hyderabad and beyond.</p>
                </div>
            </div>
        </div>
        <div class="down">
            <div class="down1">
                <div class="icon"><i class="fa-brands fa-algolia"></i>
                    <h3 style="color:#214194;">Expertise</h3>
                </div>
                <div class="iconn">
                    <p>With a team of seasoned professionals and domain experts, AscusTech brings a wealth of experience
                        and expertise to every project. We stay abreast of industry trends and emerging technologies to
                        deliver innovative solutions that address the evolving needs of our clients.</p>
                </div>
            </div>
            <div class="down1">
                <div class="icon"><i class="fa-brands fa-teamspeak"></i>
                    <h3 style="color:#214194;">Customer-Centric Approach</h3>
                </div>
                <div class="iconn">
                    <p>At AscusTech, we prioritize customer satisfaction above all else. We collaborate closely with our
                        clients, listening to their needs, understanding their challenges, and delivering solutions that
                        exceed their expectations.</p>
                </div>
            </div>
            <div class="down1">
                <div class="icon"><i class="fa-solid fa-globe"></i>
                    <h3 style="color:#214194;">Quality and Reliability</h3>
                </div>
                <div class="iconn">
                    <p>AscusTech is committed to delivering high-quality, reliable solutions that stand the test of
                        time. We adhere to industry best practices and rigorous quality assurance processes to ensure
                        that our deliverables meet the highest standards of performance, security, and reliability.</p>
                </div>
            </div>
            <div class="down1">
                <div class="icon"><i class="fa-solid fa-handshake"></i>
                    <h3 style="color:#214194;">Tailored Solutions</h3>
                </div>
                <div class="iconn">
                    <p>We understand that every business is unique, with its own set of challenges and objectives.
                        That's why we offer personalized solutions that are tailored to the specific needs and goals of
                        each client, ensuring maximum value and impact.</p>
                </div>
            </div>
        </div>
        <div class="cont2">
            <div class="live">
                <div class="left">
                    <h1>OUR MISSION</h1>
                    <p>At AscusTech, our mission is to drive innovation and efficiency by delivering cutting-edge IT
                        solutions tailored to meet the evolving needs of businesses. We are committed to empowering our
                        clients through technology, ensuring they achieve operational excellence and sustained growth.
                    </p>
                    <div class="butt"><a href="../Templates/ourmission.html"><button>READ MORE</button></a></div>
                </div>
                <div class="right">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlz0y0QltflMUcELqhkdQBZ3mvNAdoJP4jLg&s" />
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="ve">
                <div class="vee"><img
                        src="https://static.vecteezy.com/system/resources/previews/032/943/718/non_2x/modern-office-space-illuminated-by-glowing-computer-monitor-free-photo.jpg" />
                </div>
                <div class="top">
                    <h1>Our vision</h1>
                    <p> Our vision is to be the leading catalyst in the digital transformation landscape, shaping the
                        future of technology with creativity and expertise. We aspire to build a world where businesses
                        seamlessly integrate advanced IT solutions to unlock their full potential and drive global
                        progress.</p>
                    <a href="../Templates/Our Vision.html"><button>READ MORE</button></a>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="lul">
                <div class="lolo">
                    <h1>Why We Choose Us...</h1>
                    <h2>Expertise & Experience</h2><br>
                    <p>Our team has years of experience in web development, mobile solutions, cybersecurity, and digital
                        marketing. We stay updated on the latest trends and technologies to ensure your projects are
                        built with the best tools.</p><br>
                    <h2>Tailored Solutions</h2><br>
                    <p>We know every business is unique. That’s why we offer customized strategies that align with your
                        specific needs and goals, ensuring a perfect fit for your business objectives.</p><br>
                    <h2>Commitment to Quality</h2><br>
                    <p>Quality is at the core of everything we do. From consultation to delivery, we ensure that every
                        solution meets the highest standards. Our rigorous testing guarantees reliability and
                        performance.</p><br>
                    <h2>Client-Centric Approach</h2><br>
                    <p>Your success is our priority. We maintain open communication and collaboration, keeping you
                        involved at every stage. Our approach ensures that your vision is realized and your expectations
                        are exceeded.</p><br>
                </div>
                <div class="kolo">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDd-k4ZAKpZgr0ouvVVbScZuQ9emAphCBYIA&s" />
                </div>
            </div>
        </div>
        <footer>
            <div class="foot1">
    
                <div class="f1">
    
                    <div class="image3">
                        <img src="../Media/ascus.png" />
                    </div>
    
                    <div class="f-icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
    
                </div>
    
               <div class="footerLinks">
                <div class="f2">
                    <div class="qq">
                        <h2> Quick Links </h2>
                        <p><a href="./services.html">Services</a> </p>
                        <p><a href="./About.html">About Us</a></p>
                        <p><a href="./career.html">Career</a></p>
                        <p><a href="./contact.html">Contact</a></p>
                    </div>
                </div>
    
                <div class="f3">
                    <div class="qq">
                        <h2>Legal</h2>
                        <p><a href="./terms.html">Terms & Conditions</a></p>
                        <p><a href="./privacy.html">Privacy Policy</a></p>
                        <p><a href="./refund.html">Refund Policy</a></p>
                        <p><a href="./cookies.html">Cookies Policy</a></p>
                    </div>
                </div>
               </div>
    
                <div class="f4">
                    <h2>Contact</h2>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                            Telangana-500081</p>
                    </div>
    
                    <div>
                        <i class="fa-regular fa-envelope"></i>
                        <p>info@ascustech.in</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <p>9576856487</p>
                    </div>
                </div>
    
            </div>
            <hr>
            <div class="f-bottom">
                <p>©copyright 2021 Ascustech.</p>
            </div>
        </footer>
    </div>
</body>

</html>