<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Development</title>
    <link rel="stylesheet" href="../stylesheets/app development.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../stylesheets/res.css">

</head>
<body>
    <div class="container">
        <div class="nav">

            <div class="image1">
                <img src="../Media/ascus.png" />
            </div>

            <div class="home">
                <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>

                <h6 class="rightNav"><a href="../Templates/About.html" >About Us</a>
                    <div class="about">
                        <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                        <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                    </div>
                </h6>

                <h6 class="rightNav">
                    <a href="../Templates/services.html" class="active">Services </a>
                    <div class="ser">
                        <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                        <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                        <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                        <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                        <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                        <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                        <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                        <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                    </div>
                </h6>
                <button><a href="../Templates/contact.html">Contact Us</a></button>
            </div>
            <div class="sideNav">
                <input type="checkbox" id="side">
                <label for="side" class="lines">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </label>
                <div class="Slide">
                    <div class="SideTop">
                        <label for="side">X</label>
                        
                    </div>
                    <div class="SlideLinks">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <input type="checkbox" id="aLink">
                        <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="aLinks">
                            <a href="../Templates/Our Vision.html">Our Vision</a>
                            <a href="../Templates/ourmission.html">Our Mision</a>
                        </div></li>
                        <li>
                            <input type="checkbox" id="sLink">
                            <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="cc">
                            <a href="../Templates/webdev.html">Web Development</a>
                            <a href="../Templates/appdevelopment.html">App Development</a>
                            <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                            <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                            <a href="../Templates/cyber.html">Cyber Security Development</a>
                            <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                            <a href="../Templates/Egovt.html">E-Governance</a>                            
                        </div>
                        </li>
                        <li><a href="../Templates/contact.html">ContactUs</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="navbar">
        <h1>App Development</h1>
        <h5><a href="index.html">Home</a> / <a href="../Templates/services.html">Services</a> / App Development</h5>
    </div>
    <div class="container1">
        <div class="left">
            <img src="../Media/pik1.png" alt="img1">
        </div>

            <div class="right">
             <p>In today’s digital landscape, a well-designed mobile app can be the difference between thriving in the market or getting lost in the noise. At ASCUS TECH, we specialize in creating innovative, user-friendly, and scalable mobile applications that empower businesses to reach their goals and exceed user expectations.</p>
        </div>
    </div>
    <div class="main">
        <div class="icon">
            <i class="fa-solid fa-computer"></i>
            <div class="matter">
                <h2>Custom Solutions Tailored to Your Needs</h2>
                <p>Every business is unique, and so are its challenges. Our expert developers work closely with you to understand your vision and create custom apps that align with your specific business objectives.</p>
            </div>
        </div>
        <div class="icon ion">
            <i class="fa-regular fa-handshake"></i>
            <div class="matter">
                <h2>End-to-End Development</h2>
                <p>From concept to launch, ASCUS TECH offers comprehensive app development services. Our team handles everything from initial strategy, UI/UX design, coding, testing, and deployment to ongoing maintenance and support developers work closely.</p>
            </div>
        </div>
    </div>

    <div class="main1">
        <div class="icon2">
            <i class="fa-solid fa-window-restore"></i>
            <div class="matter">
                <h2>Cross-Platform Expertise</h2>
                <p>Whether you need a native app for iOS, Android, or a cross-platform solution, we’ve got you covered. Our developers are skilled in the latest technologies to ensure your app performs seamlessly across all devices</p>
            </div>
        </div>
        <div class="icon2">
            <i class="fa-solid fa-database"></i>
            <div class="matter">
                <h2>Agile Methodology</h2>
                <p>We employ agile development practices to ensure flexibility and quick turnaround times. This approach allows us to adapt to changing requirements and deliver a product that truly meets your needs.</p>
            </div>
        </div>
    </div>
    <div class="main2">
        <div class="icon1">
            <i class="fa-solid fa-hands-holding-child"></i>
            <div class="matter1">
                <h2>User-Centric Design</h2>
                <p>At ASCUS TECH, we believe that great apps start with great design. Our UI/UX experts focus on creating intuitive, engaging, and company aesthetically pleasing interfaces that enhance user experience and drive engagement.We collaborate with you to refine the design until perfectly.This phase involves in-depth research to ensure your app is positioned for success.</p>
            </div>
            </div>
        </div>

            <div class="footer1">
                <div class="box">
                    <i class="fa-solid fa-globe"></i>
                    <h3>E-commerce</h3>
                </div>
                <div class="box">
                    <i class="fa-solid fa-kit-medical"></i>
                    <h3>Healthcare</h3>
                </div>
                <div class="box">
                    <i class="fa-solid fa-building-columns"></i>
                    <h3>Education</h3>
                </div>
                <div class="box">
                    <i class="fa-solid fa-money-check-dollar"></i>
                    <h3>Finance</h3>
                </div>
                <div class="box">
                    <i class="fa-solid fa-video"></i>
                    <h3>Entertainment</h3>
                </div>
                <div class="box">
                    <i class="fa-solid fa-plane"></i>
                    <h3>Travel</h3>
                </div>
            </div>


            <div class="main">
                <div class="icon">
                    <i class="fa-brands fa-cc-discover"></i>
                    <div class="matter">
                        <h2>Discovery & Strategy</h2>
                        <p>We begin by understanding your business goals, target audience, and app requirements. This phase involves in-depth research and strategic planning to ensure your app is positioned for success.</p>
                    </div>
                </div>
                <div class="icon ion">
                    <i class="fa-regular fa-object-ungroup"></i>
                    <div class="matter">
                        <h2>Design & Prototyping</h2>
                        <p>Our designers craft wireframes and prototypes to visualize the app’s layout and functionality. We collaborate with you to refine the design until it perfectly aligns with your vision.</p>
                    </div>
                </div>
            </div>
            <div class="main1">
                <div class="icon3">
                    <i class="fa-solid fa-microscope"></i>
                    <div class="matter">
                        <h2>Development & Testing</h2>
                        <p>Our development team brings your app to life using the latest coding standards and technologies. Rigorous testing is conducted to ensure the app is bug-free and performs optimally across all platforms.</p>
                    </div>
                </div>
                <div class="icon3">
                    <i class="fa-solid fa-square-phone"></i>
                    <div class="matter">
                        <h2>Launch & Support</h2>
                        <p>Once your app is ready, we handle the deployment process, ensuring a smooth launch on the App Store or Google Play. Post-launch, we offer on-going support and maintenance to keep your app running smoothly.</p>
                </div>
            </div>
        </div>



        <footer>
            <div class="foot1">
    
                <div class="f1">
    
                    <div class="image3">
                        <img src="../Media/ascus.png" />
                    </div>
    
                    <div class="f-icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
    
                </div>
    
               <div class="footerLinks">
                <div class="f2">
                    <div class="qq">
                        <h2> Quick Links </h2>
                        <p><a href="Templates/services.html">Services</a> </p>
                        <p><a href="Templates/About.html">About Us</a></p>
                        <p><a href="Templates/career.html">Career</a></p>
                        <p><a href="Templates/contact.html">Contact</a></p>
                    </div>
                </div>
    
                <div class="f3">
                    <div class="qq">
                        <h2>Legal</h2>
                        <p><a href="Templates/terms.html">Terms & Conditions</a></p>
                        <p><a href="Templates/privacy.html">Privacy Policy</a></p>
                        <p><a href="Templates/refund.html">Refund Policy</a></p>
                        <p><a href="Templates/cookies.html">Cookies Policy</a></p>
                    </div>
                </div>
               </div>
    
                <div class="f4">
                    <h2>Contact</h2>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                            Telangana-500081</p>
                    </div>
    
                    <div>
                        <i class="fa-regular fa-envelope"></i>
                        <p>info@ascustech.in</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <p>9576856487</p>
                    </div>
                </div>
    
            </div>
            <hr>
            <div class="f-bottom">
                <p>©copyright 2021 Ascustech.</p>
            </div>
        </footer>
</body>
</html>