<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies Policy</title>
    <link rel="stylesheet" href="../stylesheets/cookies.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
<body>
    <div class="cookies">
        <h1>Cookies Policy</h1>
        <h4>Last Updated:15-08-2024</h4>

        <div class="cookies1">
            <h1>1. Introduction</h1>
            <p>Welcome to ASCUS TECH. This Cookies Policy explains what cookies are, how we use them, and the options you have regarding cookies on our website .www.ascustech.in</p>
            <h1>2. What are Cookies?</h1>
            <p>Cookies are small text files stored on your device (computer, smartphone, or other internet-enabled devices) when you visit a website. Cookies help websites recognize your device and store some information about your preferences or past actions.</p>
            <h1>3. Types of Cookies We Use</h1>
            <p>We use the following types of cookies on our website:</p>
            <p><b>Strictly Necessary Cookies: </b>These cookies are essential for you to browse our website and use its features. Without these cookies, services like account login and shopping cart functionality cannot be provided.

            </p>
            <p><b>Performance Cookies:</b> These cookies collect information about how you use our website, such as which pages you visit most often. This data helps us improve the website's performance and user experience.</p>
            <p><b>Functional Cookies:</b>These cookies allow our website to remember choices you make (such as your username, language, or region) and provide enhanced, more personalized features.</p>
            <p><b>Targeting/Advertising Cookies: </b>These cookies are used to deliver ads that are more relevant to you and your interests. They also help us measure the effectiveness of advertising campaigns.</p>
            <h1>4. How We Use Cookies</h1>
            <p>We use cookies to:</p>
            <p>Improve the functionality and performance of our website.</p>
            <p>Provide personalized content and ads.</p>
            <p>Analyze traffic to our website.</p>
            <p>Remember your preferences and login information.</p>
            <p>Conduct research and diagnostics to improve our products and services.</p>
            <h1>5. Third-Party Cookies</h1>
            <p>In addition to our own cookies, we may also use various third-party cookies to report usage statistics of the website, deliver advertisements, and enhance your online experience. These third-party service providers may use their own cookies to collect information about your online activities over time and across different websites.</p>
            <h1>6. Your Choices Regarding Cookies</h1>
            <p>You have several options to manage or disable cookies:</p>
            <p><b>Browser Settings: </b>Most web browsers allow you to control cookies through their settings. You can set your browser to block or delete cookies. However, please note that if you disable cookies, some parts of our website may not function properly.</p>
            <p><b>Opt-Out Links:</b>Some third-party services provide opt-out options for their cookies. You can learn more by visiting the respective websites of these third parties.</p>
            <p><b>Consent Management:</b> We provide a cookie consent banner when you first visit our website, allowing you to accept or reject specific types of cookies.</p>
            <h1>7. Changes to this Cookies Policy</h1>
            <p>We may update this Cookies Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this policy periodically.</p>
            <h1>8. Contact Us</h1>
            <p>If you have any questions about our use of cookies or this Cookies Policy, please contact us at :</p>
            <p>Ascustech Private Limited</br>
                Plot No: 36 & 37, Survey No: 86</br>
                Vittal Rao Nagar, Madhapur</br>
                Hi-tech City, Hyderabad, Telangana-500081</br>
                Email: <a href = "mailto:name@gmail.com">info@ascustech.in</a></p>
               


        </div>



    </div>
    
</body>
</html>