<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Marketing </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../stylesheets/DigitalMarketing.css">
    <link rel="stylesheet" href="../stylesheets/res.css">

</head>

<body>
    <div class="container">
        <div class="nav">

            <div class="image1">
                <img src="../Media/ascus.png" />
            </div>

            <div class="home">
                <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>

                <h6 class="rightNav"><a href="../Templates/About.html"  >About Us</a>
                    <div class="about">
                        <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                        <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                    </div>
                </h6>

                <h6 class="rightNav">
                    <a href="../Templates/services.html" class="active">Services </a>
                    <div class="ser">
                        <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                        <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                        <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                        <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                        <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                        <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                        <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                        <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                    </div>
                </h6>
                <button><a href="../Templates/contact.html">Contact Us</a></button>
            </div>
            <div class="sideNav">
                <input type="checkbox" id="side">
                <label for="side" class="lines">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </label>
                <div class="Slide">
                    <div class="SideTop">
                        <label for="side">X</label>
                        
                    </div>
                    <div class="SlideLinks">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <input type="checkbox" id="aLink">
                        <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="aLinks">
                            <a href="../Templates/Our Vision.html">Our Vision</a>
                            <a href="../Templates/ourmission.html">Our Mision</a>
                        </div></li>
                        <li>
                            <input type="checkbox" id="sLink">
                            <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="cc">
                            <a href="../Templates/webdev.html">Web Development</a>
                            <a href="../Templates/appdevelopment.html">App Development</a>
                            <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                            <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                            <a href="../Templates/cyber.html">Cyber Security Development</a>
                            <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                            <a href="../Templates/Egovt.html">E-Governance</a>                            
                        </div>
                        </li>
                        <li><a href="../Templates/contact.html">ContactUs</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="main">
    <div class="box1">
        <h1>Digital Marketing</h1>
        <h5><a href="../Templates/services.html">Services</a> / Digital Marketing</h5>
    </div>


    <div class="part1">
        <div class="para">
            <h1>Drive Growth with Strategic Digital Marketing</h1>
            <p>UI refers to the screens, buttons, toggles,icons, and other visual elements that you
                interact with when using a website, app, or other electronic device. UX refers to the entire
                interaction you have with a product, including.</p>
           <div class="butn"><button>Get Touch In</button></div> 
        </div>
        <div class="para1">
            <img src="https://overtdigitalmarketing.com.au/wp-content/uploads/2023/06/customer-journey.webp">
        </div>
    </div>
    <div class="part2">
        <div class="para2">
            <img
                src="https://cdn-icggj.nitrocdn.com/AphBmykuaGyxZijWArNhxcCiPzVdYZGT/assets/images/optimized/rev-2eabcc3/thriveagency.com/wp-content/themes/thrive-agency/images/digital-marketing-service-image-2.svg">
        </div>
        <div class="para3">
            <h4>A creative unique modern landing page or website UI UX | Upwork</h4>
            <p>Thrive works with you to produce customized internet marketing services and a plan that aligns with
                your unique business needs. We become an extension of your team, a partner that understands your
                market and goals, rather than just an agency that executes strategies blindly.</p>
            <p>Take a look below at the wide variety of digital marketing services Thrive offers. Contact us today
                to learn more about how we can help your business!.</p>
            <div class=butn><button>Get Touch In</button></div>
        </div>
    </div>
    <div class="heading1">
        <h1>Our Digital Marketing Process</h1>
    </div>
    <div class="part3">
        <div class="para4">
            <h3><i class="fa-solid fa-circle-nodes"></i> Strategy Development</h3>
            <p>Donec vulputate, enim a scelerisque laoreet, nunc libero tincidunt est,at vehicula odio metus non
                tortor. Proin laoreet aliquam augue consectetur pharetra. Donec eleifend quam id porta condimentum.
                Aenean vehicula sit amet erat in tempus. Morbi eget consequat erat.Donec convallis felis eu elit
                pellentesque sagittis vitae a ipsum</p>
        </div>
        <div class="para4">
            <h3><i class="fa-solid fa-chart-line"></i> Implementation Process</h3>
            <p>Donec vulputate, enim a scelerisque laoreet, nunc libero tincidunt est,at vehicula odio metus non
                tortor. Proin laoreet aliquam augue consectetur pharetra. Donec eleifend quam id porta condimentum.
                Aenean vehicula sit amet erat in tempus. Morbi eget consequat erat. Donec convallis felis eu elit
                pellentesque sagittis vitae a ipsum</p>
        </div>
        <div class="para4">
            <h3><i class="fa-solid fa-mobile-screen"></i> Continuous Improvement </h3>
            <p>Donec vulputate, enim a scelerisque laoreet, nunc libero tincidunt est,at vehicula odio metus non
                tortor. Proin laoreet aliquam augue consectetur pharetra. Donec eleifend quam id porta condimentum.
                Aenean vehicula sit amet erat in tempus. Morbi eget consequat erat. Donec convallis felis eu elit
                pellentesque sagittis vitae a ipsum</p>
        </div>
    </div>

    <div class="heading2">
        <h3>Our Digital Marketing Services</h3>
    </div>


    <div class="Click">
        <div class="para5">
            <div class="user">
                <img src="https://www.pngall.com/wp-content/uploads/5/Digital-Marketing-PNG-HD-Image.png"><br>
            </div>
            <h4>User-Centered Design</h4>
            <p>UI stands for user interface. It is the bridge between humans and computers. Anything you interact
                with as a user is part of the user interface. For example, screens, sounds.</p>
        </div>
        <div class="para5">
            <div class="user">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdTGiZ8ONjOHP4w6vGp0eRxTtOSoM3qMBfGQ&usqp=CAU"><br>
            </div>
            <h4>Responsive Design</h4>
            <p>A red light signaling 'stop' and turning green for 'go' are basic examples of UX in the real world.
                They work because they are easy to ,understand and follow.</p>
        </div>
        <div class="para5">
            <div class="user">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJJaHtOa04f0CSE2emRwYgp_1rNlBm3UzBzRMrYC5_VibiK4ZUc1QQwhxSwwF6-la5qOA&usqp=CAU"><br>
            </div>
            <h4>Creative & Functional</h4>
            <p>business owners and other designers a clear insight into how different elements of the product work
                together. They'll often use various tools for the wireframing and prototyping process.</p>
        </div>
        <div class="para5">
            <div class="user">
                <img
                    src="https://dnsnetworkmedia.com/wp-content/uploads/2022/12/Digital-Marketing-PNG-File-1024x512.png"><br>
            </div>

            <h4>Iterative Process</h4>
            <p>It is the bridge between humans and computers. Anything you interact with as a user is part of the
                user interface. For example, screens, sounds,overall style, and responsiveness are all elements.</p>
        </div>
        <div class="para5">
            <div class="user">
                <img
                    src="https://vfxmultimediaschool.com/wp-content/uploads/2023/07/Digital-marketing-course-in-vasai.png">
            </div>
            <h4>Prototyping & Testing</h4>
            <p>A red light signaling 'stop' and turning green for'go' are basic examples of UX in the real world.
                They work because they are easy to ,understand and follow.</p>
        </div>
    </div>




    <div class="Jack">
        <div class="para6">
            <div class="orbit">
                <h2>Boost Your Online Presence</h2>
                <p> We have all seen the rise and fall of iconic.The same thing happens in User Interface (UI)
                    design. UI trends go from interfaces that mimic real-world objects to super-minimal interfaces
                    with no embellishments. All of these have their advantages and disadvantages.With knowledge
                    about these UI trends, you can create and experiment with new ideas, which are essential to push
                    the design industry forward, and elevate your own design practice.</p>
            </div>
            <div class="inner">
                <img
                    src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Why-Digital-Marketing-is-Critical-to-Your-Organization-in-2017.jpg">
            </div>
        </div>
    </div>

</div>
   

    <!-- </div>



    </div>
    </div>
    </div> -->
    <footer>
        <div class="foot1">

            <div class="f1">

                <div class="image3">
                    <img src="../Media/ascus.png" />
                </div>

                <div class="f-icons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

            </div>

            <div class="footerLinks">
                <div class="f2">
                    <div class="qq">
                        <h2> Quick Links </h2>
                        <p><a href="./services.html">Services</a> </p>
                        <p><a href="./About.html">About Us</a></p>
                        <p><a href="./career.html">Career</a></p>
                        <p><a href="./contact.html">Contact</a></p>
                    </div>
                </div>
    
                <div class="f3">
                    <div class="qq">
                        <h2>Legal</h2>
                        <p><a href="./terms.html">Terms & Conditions</a></p>
                        <p><a href="./privacy.html">Privacy Policy</a></p>
                        <p><a href="./refund.html">Refund Policy</a></p>
                        <p><a href="./cookies.html">Cookies Policy</a></p>
                    </div>
                </div>
               </div>

            <div class="f4">
                <h2>Contact</h2>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                        Telangana-500081</p>
                </div>

                <div>
                    <i class="fa-regular fa-envelope"></i>
                    <p>info@ascustech.in</p>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>9576856487</p>
                </div>
            </div>

        </div>
        <hr>
        <div class="f-bottom">
            <p>©copyright 2021 Ascustech.</p>
        </div>
    </footer>




</body>

</html>