<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Governance</title>
  <link rel="stylesheet" href="../stylesheets/governance.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
   integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="../stylesheets/res.css">

</head>
<body>
<div class="container"> 
  
    <div class="nav">

        <div class="image1">
            <img src="../Media/ascus.png" />
        </div>

        <div class="home">
            <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>

            <h6 class="rightNav"><a href="../Templates/About.html"  >About Us</a>
                <div class="about">
                    <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                    <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                </div>
            </h6>

            <h6 class="rightNav">
                <a href="../Templates/services.html" class="active">Services </a>
                <div class="ser">
                    <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                    <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                    <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                    <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                    <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                    <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                    <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                    <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                </div>
            </h6>
            <button><a href="../Templates/contact.html">Contact Us</a></button>
        </div>
        <div class="sideNav">
            <input type="checkbox" id="side">
            <label for="side" class="lines">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </label>
            <div class="Slide">
                <div class="SideTop">
                    <label for="side">X</label>
                    
                </div>
                <div class="SlideLinks">
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <input type="checkbox" id="aLink">
                    <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                    <div class="aLinks">
                        <a href="../Templates/Our Vision.html">Our Vision</a>
                        <a href="../Templates/ourmission.html">Our Mision</a>
                    </div></li>
                    <li>
                        <input type="checkbox" id="sLink">
                        <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                    <div class="cc">
                        <a href="../Templates/webdev.html">Web Development</a>
                        <a href="../Templates/appdevelopment.html">App Development</a>
                        <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                        <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                        <a href="../Templates/cyber.html">Cyber Security Development</a>
                        <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                        <a href="../Templates/Egovt.html">E-Governance</a>                            
                    </div>
                    </li>
                    <li><a href="../Templates/contact.html">ContactUs</a></li>
                </div>
            </div>
        </div>
    </div>
              <div class="navber">
                <div class="box1">
                    <h1>E - Governance</h1>
                    <h5><a href="index.html">Home</a> / <a href="../Templates/services.html">Services</a> / E - Governance</h5>
                </div>
                   
            
          </div>
       <h2 style="text-align:center">Streamline Public Services with ASCUS TECH’s E-Governance Solutions</h2>
       <div class="center">
                    <div class="mid">
                        <div class="icon">
                           <img src="https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2018/12/20070232/What-is-E-Governance-What-is-the-Type-of-E-Governance.jpg">
                        </div>
                       <p>In an increasingly digital world, governments and public institutions are turning to technology 
                        to improve service delivery, enhance transparency, and foster citizen engagement. ASCUS TECH offers state-of-the-art E-Governance solutions designed to transform
                         the way governments interact with citizens and manage public resources. Our innovative technology solutions simplify complex processes, 
                        making governance more efficient, accessible, and responsive.</p>
                    </div>
              </div>
        <div class="main">
             <div class="left">
                
                    <h3>Why Choose ASCUS TECH for E-Governance?</h3>
                     <ul>
                        <li><i class="fa-solid fa-check"></i> <b>Customized Solutions for Public Sector Needs:</b> 
                           <p>We understand that the challenges faced by governments and public institutions are unique. That’s why ASCUS TECH develops tailored E-Governance solutions that address specific needs and help achieve policy goals.</p> </li>
                        <li><i class="fa-solid fa-check"></i> <b>Enhanced Citizen Engagement:</b> 
                          <p>Our E-Governance platforms are designed to foster greater citizen participation and transparency. We create user-friendly portals and applications that make it easier for citizens to access information, services, and engage with government processes.</p></li>
                        <li><i class="fa-solid fa-check"></i> <b>Secure and Scalable Platforms:</b> 
                          <p>Security is paramount in E-Governance. ASCUS TECH ensures that all our solutions are built with robust security measures to protect sensitive data while being scalable to accommodate growing demands.</p></li>
                        
                        </ul> 
            
                </div>
                       <div class="star">
                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJMa_dyXgnyOwvGUV_pqMVmD7c3qzn0ARoow&s">
                       </div>
        </div>
          <h3>Our E-Governance Services</h3>
        <div class="ad">  
            <div class="photo">
                
                <img src="https://play-lh.googleusercontent.com/CCBsvi2aY0cZFd7GM34vIxkmcFVQTb7PXpK0mi8r0Wlq5-sLog-vGUb-2YzZPnGoPmtJ">
            </div>   
             <div class="right">
                         <ul>
                             <li><i class="fa-solid fa-check"></i> <b>Digital Public Services: </b>
                              <p>Enable citizens to access public services online, reducing the need for in-person visits and making government services more accessible.</p></li>
                             <li><i class="fa-solid fa-check"></i> <b>E-Procurement Solutions: </b>
                              <p>Streamline procurement processes with our E-Procurement platforms, enhancing transparency, efficiency, and accountability in public sector procurement.</p></li>
                             <li><i class="fa-solid fa-check"></i> <b>Document Management Systems: </b>
                              <p>Implement secure, efficient document management systems that facilitate easy storage, retrieval, and sharing of government documents.</p></li>
                             <li><i class="fa-solid fa-check"></i> <b>Citizen Portals: </b>
                              <p>Develop comprehensive citizen portals that provide a one-stop platform for information, service requests, and citizen engagement.</p></li>
                            
                            </ul>
             </div>
            </div> 
            <div class="upper">
                <h1>Partner with ASCUS TECH for E-Governance Excellence</h1>
                   <p>ASCUS TECH is committed to empowering governments with the tools they need to meet the challenges 
                    of the digital age. Our E-Governance solutions are designed to enhance efficiency, improve service 
                    delivery, and foster transparency. Let us help you create a more responsive and inclusive government. Contact us today for a free consultation and learn how 
                    ASCUS TECH can support your digital governance initiatives.</p>
            </div>
            <h3>Transforming Governance Across Sectors</h3>
        <div class="lest">
            <div class="td">
                       <ul>
                        <li><i class="fa-solid fa-arrows-to-dot"></i>Government</li>
                        <li><i class="fa-solid fa-arrows-to-dot"></i>State and Federal Government</li>
                        <li><i class="fa-solid fa-arrows-to-dot"></i>Public Health</li>
                        <li><i class="fa-solid fa-arrows-to-dot"></i>Education</li>
                        <li><i class="fa-solid fa-arrows-to-dot"></i>Public Safety</li>
                        <li><i class="fa-solid fa-arrows-to-dot"></i>Urban Planning</li>
                        <li><i class="fa-solid fa-arrows-to-dot"></i>And More!</li>
                       </ul>
                    </div>
                    <div class="td1">
                       <img src="https://umangsoftware.com/wp-content/uploads/2020/09/e-governance.png">
                    </div>
            </div>
    
            <footer>
                <div class="foot1">
        
                    <div class="f1">
        
                        <div class="image3">
                            <img src="../Media/ascus.png" />
                        </div>
        
                        <div class="f-icons">
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
        
                    </div>
        
                    <div class="footerLinks">
                        <div class="f2">
                            <div class="qq">
                                <h2> Quick Links </h2>
                                <p><a href="./services.html">Services</a> </p>
                                <p><a href="./About.html">About Us</a></p>
                                <p><a href="./career.html">Career</a></p>
                                <p><a href="./contact.html">Contact</a></p>
                            </div>
                        </div>
            
                        <div class="f3">
                            <div class="qq">
                                <h2>Legal</h2>
                                <p><a href="./terms.html">Terms & Conditions</a></p>
                                <p><a href="./privacy.html">Privacy Policy</a></p>
                                <p><a href="./refund.html">Refund Policy</a></p>
                                <p><a href="./cookies.html">Cookies Policy</a></p>
                            </div>
                        </div>
                       </div>
        
                    <div class="f4">
                        <h2>Contact</h2>
                        <div>
                            <i class="fa-solid fa-location-dot"></i>
                            <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                                Telangana-500081</p>
                        </div>
        
                        <div>
                            <i class="fa-regular fa-envelope"></i>
                            <p>info@ascustech.in</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-phone"></i>
                            <p>9576856487</p>
                        </div>
                    </div>
        
                </div>
                <hr>
                <div class="f-bottom">
                    <p>©copyright 2021 Ascustech.</p>
                </div>
            </footer>



</div>
</body>
</html>