<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascus Tech</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="nav">

            <div class="image1">
                <img src="../Media/ascus.png" />
            </div>

            <div class="home">
                <h6 class="rightNav"><a href="../Templates/index.html" class="active">Home</a></h6>

                <h6 class="rightNav"><a href="../Templates/About.html"  >About Us</a>
                    <div class="about">
                        <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                        <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                    </div>
                </h6>

                <h6 class="rightNav">
                    <a href="../Templates/services.html">Services </a>
                    <div class="ser">
                        <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                        <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                        <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                        <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                        <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                        <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                        <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                        <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                    </div>
                </h6>
                <button><a href="../Templates/contact.html">Contact Us</a></button>
            </div>
            <div class="sideNav">
                <input type="checkbox" id="side">
                <label for="side" class="lines">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </label>
                <div class="Slide">
                    <div class="SideTop">
                        <label for="side">X</label>
                        
                    </div>
                    <div class="SlideLinks">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <input type="checkbox" id="aLink">
                        <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="aLinks">
                            <a href="../Templates/Our Vision.html">Our Vision</a>
                            <a href="../Templates/ourmission.html">Our Mision</a>
                        </div></li>
                        <li>
                            <input type="checkbox" id="sLink">
                            <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="cc">
                            <a href="../Templates/webdev.html">Web Development</a>
                            <a href="../Templates/appdevelopment.html">App Development</a>
                            <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                            <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                            <a href="../Templates/cyber.html">Cyber Security Development</a>
                            <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                            <a href="../Templates/Egovt.html">E-Governance</a>                            
                        </div>
                        </li>
                        <li><a href="../Templates/contact.html">ContactUs</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header>

        <div class="head1">
            <div class="head11">
                <h1> Experience<br>excellence<br>with us.</h1>
                <p> Your partner in business</p>
                <a href="../Templates/contact.html"><button>LEARN MORE</button></a>

            </div>

            <div class="head12">
                <div class="image2">
                    <img src="../Media/pik2.png">
                </div>

            </div>
        </div>

    </header>

    <div class="midhead">
        <div class="mh">
            <div class="mm1">
                <p>About Us</p>
                <p>AscusTech is a renowned technology services and consulting company based in the vibrant city of
                    Hyderabad. With a commitment to excellence and a passion for innovation,we empower businesses to
                    thrive in the digital age through cutting-edge technology solutions and strategic consulting
                    services.</p>
            </div>
            <div class="mm2">
                <img src="../Media/about.jpg">
            </div>
        </div>

    </div>

    <div class="middle">

        <div class="mid1">
            <p> Our Services</p>
            <h1>We provide IT & Software Solution</h1>
        </div>

        <div class="mid2">
            <a href="webdev.html"><div class="card">
                <div class="image4">
                    <img src="https://cdn-icons-png.flaticon.com/512/2210/2210153.png">
                </div>
                <a>Web Development</a>
                <p>We always provide people a <br>complete solution focused of<br> any business.</p>
            </div></a>

            <a href="cyber.html">
                <div class="card">
                    <div class="image4">
                        <img src="https://w7.pngwing.com/pngs/59/403/png-transparent-computer-security-threat-national-cyber-security-awareness-month-proactive-cyber-defence-cyberwarfare-topic-logo-text-trademark-logo-thumbnail.png">
                    </div>
                    <a>Cyber Security</a>
                    <p>We always provide people a <br>complete solution focused of<br> any business.</p>
                </div>
            </a>

            <a href="Egovt.html">
                <div class="card">
                    <div class="image4">
                        <img src="https://w7.pngwing.com/pngs/868/566/png-transparent-electronic-governance-government-good-governance-politics-governance-text-service-software-engineering-thumbnail.png">
                    </div>
                    <a>E-Governance</a>
                    <p>We always provide people a <br>complete solution focused of<br> any business.</p>
                </div>
            </a>

            <a href="mobdev.html">
                <div class="card">
                    <div class="image4">
                        <img src="https://img.freepik.com/free-vector/user-interface-development-isometric-concept-with-young-woman-creating-custom-design-mobile-application-vector-illustration_1284-72341.jpg">
                    </div>
                    <a>Mobile Development</a>
                    <p>We always provide people a <br>complete solution focused of<br> any business.</p>
                </div>
            </a>
        </div>

        <div class="mid3">
            <p> Increase your business success with technology. </p>
            <a href="ascus" target="_blank">Let’s get started</a>
        </div>

    </div>

    <div class="bottom">
        <div class="btm1">
            <img src="../Media/why.jpg">
        </div>

        <div class="btm2">
            <h2>Why We Choose Us...</h2>
            <div class="btm11">
                <h4>Expertise & Experience</h4>
                <p> Our team has years of experience in web development, mobile solutions, cybersecurity, and digital
                    marketing. We stay updated on the latest trends and technologies to ensure your projects are built
                    with the best tools.</p>
                <h4>Tailored Solutions</h4>
                <p>We know every business is unique. That’s why we offer customized strategies that align with your
                    specific needs and goals, ensuring a perfect fit for your business objectives.</p>
            </div>
        </div>
    </div>

    <div class="our">
        <h2> Our Clients </h2>
        <div class="our1">
            <div class="our2">
                <div><img src="https://www.kindpng.com/picc/m/252-2524695_dummy-profile-image-jpg-hd-png-download.png">
                </div>
                <div><img src="https://www.kindpng.com/picc/m/252-2524695_dummy-profile-image-jpg-hd-png-download.png">
                </div>
                <div><img src="https://www.kindpng.com/picc/m/252-2524695_dummy-profile-image-jpg-hd-png-download.png">
                </div>
                <div><img src="https://www.kindpng.com/picc/m/252-2524695_dummy-profile-image-jpg-hd-png-download.png">
                </div>
                <div><img src="https://www.kindpng.com/picc/m/252-2524695_dummy-profile-image-jpg-hd-png-download.png">
                </div>

            </div>
        </div>

    </div>




    <footer>
        <div class="foot1">

            <div class="f1">

                <div class="image3">
                    <img src="../Media/ascus.png" />
                </div>

                <div class="f-icons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

            </div>

            <div class="footerLinks">
                <div class="f2">
                    <div class="qq">
                        <h2> Quick Links </h2>
                        <p><a href="./services.html">Services</a> </p>
                        <p><a href="./About.html">About Us</a></p>
                        <p><a href="./career.html">Career</a></p>
                        <p><a href="./contact.html">Contact</a></p>
                    </div>
                </div>
    
                <div class="f3">
                    <div class="qq">
                        <h2>Legal</h2>
                        <p><a href="./terms.html">Terms & Conditions</a></p>
                        <p><a href="./privacy.html">Privacy Policy</a></p>
                        <p><a href="./refund.html">Refund Policy</a></p>
                        <p><a href="./cookies.html">Cookies Policy</a></p>
                    </div>
                </div>
               </div>

            <div class="f4">
                <h2>Contact</h2>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                        Telangana-500081</p>
                </div>

                <div>
                    <i class="fa-regular fa-envelope"></i>
                    <p>info@ascustech.in</p>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>9576856487</p>
                </div>
            </div>

        </div>
        <hr>
        <div class="f-bottom">
            <p>©copyright 2021 Ascustech.</p>
        </div>
    </footer>

    </div>
</body>

</html>