<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our vision</title>
    <link rel="stylesheet" href="../stylesheets/our vision.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="../stylesheets/res.css">

</head>

<body>
    <div class="nav">

        <div class="image1">
            <img src="../Media/ascus.png" />
        </div>

        <div class="home">
            <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>

            <h6 class="rightNav"><a href="../Templates/About.html"  class="active">About Us</a>
                <div class="about">
                    <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                    <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                </div>
            </h6>

            <h6 class="rightNav">
                <a href="../Templates/services.html">Services </a>
                <div class="ser">
                    <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                    <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                    <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                    <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                    <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                    <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                    <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                    <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                </div>
            </h6>
            <button><a href="../Templates/contact.html">Contact Us</a></button>
        </div>
        <div class="sideNav">
            <input type="checkbox" id="side">
            <label for="side" class="lines">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </label>
            <div class="Slide">
                <div class="SideTop">
                    <label for="side">X</label>
                    
                </div>
                <div class="SlideLinks">
                    <li><a href="">Home</a></li>
                    <li>
                        <input type="checkbox" id="aLink">
                    <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                    <div class="aLinks">
                        <a href="../Templates/Our Vision.html">Our Vision</a>
                        <a href="../Templates/ourmission.html">Our Mision</a>
                    </div></li>
                    <li>
                        <input type="checkbox" id="sLink">
                        <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                    <div class="cc">
                        <a href="../Templates/webdev.html">Web Development</a>
                        <a href="../Templates/appdevelopment.html">App Development</a>
                        <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                        <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                        <a href="../Templates/cyber.html">Cyber Security Development</a>
                        <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                        <a href="../Templates/Egovt.html">E-Governance</a>                            
                    </div>
                    </li>
                    <li><a href="../Templates/contact.html">ContactUs</a></li>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="nav1">
            <h1>Our Vision</h1>
            <h5><a href="About.html">About Us</a> / Our Vision</h5>

        </div>
    </div>

    <div class="hero">
        <div class="hero1">
            <img src="https://tykit.rometheme.pro/virtu/wp-content/uploads/sites/11/2021/06/multi-ethnic-it-team-JDHACMJ-1536x1024.jpg"
                alt="">

        </div>

        <div class="hero2">

            <h1>Empowering Innovation </br>for a Digital Future</h1>
            <p>At ASCUSTECH, our vision is to drive the future of technology by empowering businesses with innovative
                digital solutions. We aim to be at the forefront of technological advancements, providing cutting-edge
                services that enable our clients to thrive in a dynamic digital landscape.</p>

        </div>
    </div>
    <div class="goals">
        <h1>Our Goals</h1>
    </div>
    <div class="container">

        <div class="cont">
            <h1>Innovation: </h1>
            <p>We strive to lead with creativity and forward-thinking solutions that set new standards in technology and
                design.</p>
        </div>
        <div class="cont">
            <h1>Excellence: </h1>
            <p>Our commitment to excellence drives us to deliver high-quality, reliable solutions that meet and exceed
                client expectations.</p>
        </div>
        <div class="cont">
            <h1>Collaboration: </h1>

            <p>We believe in building strong partnerships with our clients, working together to achieve their business
                goals and unlock new opportunities.</p>
        </div>
        <div class="cont">
            <h1>Sustainability: </h1>
            <p>We focus on sustainable practices and technologies that not only address current needs but also
                anticipate future demands, ensuring long-term success.</p>
        </div>

    </div>
    <div class="reverse">
        <div class="reverse1">

            <h1>Transforming Vision into Reality</h1>
            <p>We are dedicated to transforming visionary ideas into impactful digital solutions By leveraging our
                expertise and passion for technology, we help our clients navigate the complexities of the digital world
                and achieve lasting success.</p>
            <h1>Join Us on the Journey</h1>
            <p>Partner with us to turn your digital aspirations into reality. Together, we can shape the future of
                technology and drive meaningful progress.</p>

        </div>
        <div class="reverse2">
            <img src="https://tykit.rometheme.pro/virtu/wp-content/uploads/sites/11/2021/06/happy-young-colleagues-working-on-virtual-reality-PAB3KL8.jpg"
                alt="">

        </div>



    </div>
    </div>

    <footer>
        <div class="foot1">

            <div class="f1">

                <div class="image3">
                    <img src="../Media/ascus.png" />
                </div>

                <div class="f-icons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

            </div>

            <div class="footerLinks">
                <div class="f2">
                    <div class="qq">
                        <h2> Quick Links </h2>
                        <p><a href="./services.html">Services</a> </p>
                        <p><a href="./About.html">About Us</a></p>
                        <p><a href="./career.html">Career</a></p>
                        <p><a href="./contact.html">Contact</a></p>
                    </div>
                </div>
    
                <div class="f3">
                    <div class="qq">
                        <h2>Legal</h2>
                        <p><a href="./terms.html">Terms & Conditions</a></p>
                        <p><a href="./privacy.html">Privacy Policy</a></p>
                        <p><a href="./refund.html">Refund Policy</a></p>
                        <p><a href="./cookies.html">Cookies Policy</a></p>
                    </div>
                </div>
               </div>

            <div class="f4">
                <h2>Contact</h2>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                        Telangana-500081</p>
                </div>

                <div>
                    <i class="fa-regular fa-envelope"></i>
                    <p>info@ascustech.in</p>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>9576856487</p>
                </div>
            </div>

        </div>
        <hr>
        <div class="f-bottom">
            <p>©copyright 2021 Ascustech.</p>
        </div>
    </footer>

</body>

</html>