<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Mission</title>
    <link rel="stylesheet" href="../stylesheets/ourmission.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../stylesheets/res.css">

</head>

<body>

    <div class="container">
        <div class="nav">

            <div class="image1">
                <img src="../Media/ascus.png" />
            </div>

            <div class="home">
                <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>

                <h6 class="rightNav"><a href="../Templates/About.html"  class="active">About Us</a>
                    <div class="about">
                        <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                        <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                    </div>
                </h6>

                <h6 class="rightNav">
                    <a href="../Templates/services.html">Services </a>
                    <div class="ser">
                        <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                        <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                        <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                        <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                        <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                        <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                        <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                        <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                    </div>
                </h6>
                <button><a href="../Templates/contact.html">Contact Us</a></button>
            </div>
            <div class="sideNav">
                <input type="checkbox" id="side">
                <label for="side" class="lines">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </label>
                <div class="Slide">
                    <div class="SideTop">
                        <label for="side">X</label>
                        
                    </div>
                    <div class="SlideLinks">
                        <li><a href="">Home</a></li>
                        <li>
                            <input type="checkbox" id="aLink">
                        <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="aLinks">
                            <a href="../Templates/Our Vision.html">Our Vision</a>
                            <a href="../Templates/ourmission.html">Our Mision</a>
                        </div></li>
                        <li>
                            <input type="checkbox" id="sLink">
                            <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="cc">
                            <a href="../Templates/webdev.html">Web Development</a>
                            <a href="../Templates/appdevelopment.html">App Development</a>
                            <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                            <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                            <a href="../Templates/cyber.html">Cyber Security Development</a>
                            <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                            <a href="../Templates/Egovt.html">E-Governance</a>                            
                        </div>
                        </li>
                        <li><a href="../Templates/contact.html">ContactUs</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="top">
            <h1>Our Mission</h1>
            <h5><a href="About.html">About Us</a> / Our Mission</h5>
        </div>


        <div class="sub-main">

            <div class="bottom">
                <div class="text">
                    <h3>Empowering Innovation for a Digital Future</h3>
                    <p>At Ascus Tech, our mission is to empower businesses and individuals by delivering innovative,
                        reliable, and tailored digital solutions. We strive to create technology that not only meets the
                        needs of today but also anticipates the challenges of tomorrow.</p>
                </div>
            </div>

            <div class="middle">
                <div class="image">
                    <img src="https://www.proxyclick.com/hubfs/Blog_images/blog-virtual-meeting-video-conferencing.png"
                        width="350px" height="250px">
                </div>

                <div class="text1">
                    
                    <h3>Through our commitment to excellence, we aim to:</h3>
                    <p><i class="fa-solid fa-circle"></i> <span>Inspire Innovation:</span> : Foster a culture of
                        creativity and forward-thinking to develop cutting-edge solutions that drive industry
                        transformation.</p>
                    <p><i class="fa-solid fa-circle"></i> <span>Build Trust: </span>Establish lasting relationships with
                        our clients by consistently delivering high-quality services and maintaining the highest
                        standards of integrity and professionalism.</p>
                    <p><i class="fa-solid fa-circle"></i> <span>Enable success:</span> Provide tools and solutions that
                        help our clients achieve their goals, grow their businesses, and make a positive impact in their
                        communities.</p>
                    
                </div>
            </div>

            <div class="bottom">

                <div class="text">

                    <p>Our mission is to be more than just a service provider—we aspire to be a partner in our clients’
                        success, contributing to their growth and prosperity through our expertise and dedication.</p> <br>
                </div>
            </div>

            <div class="middle1">

                <div class="text">
                    <h3>Join Us on the Journey</h3>
                    <p>Partner with us to turn your digital aspirations into reality. Together, we can shape the future
                        of technology and drive meaningful progress.</p>
                </div>
            </div>





        </div>
    </div>

    <footer>
        <div class="foot1">

            <div class="f1">

                <div class="image3">
                    <img src="../Media/ascus.png" />
                </div>

                <div class="f-icons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

            </div>

            <div class="footerLinks">
                <div class="f2">
                    <div class="qq">
                        <h2> Quick Links </h2>
                        <p><a href="./services.html">Services</a> </p>
                        <p><a href="./About.html">About Us</a></p>
                        <p><a href="./career.html">Career</a></p>
                        <p><a href="./contact.html">Contact</a></p>
                    </div>
                </div>
    
                <div class="f3">
                    <div class="qq">
                        <h2>Legal</h2>
                        <p><a href="./terms.html">Terms & Conditions</a></p>
                        <p><a href="./privacy.html">Privacy Policy</a></p>
                        <p><a href="./refund.html">Refund Policy</a></p>
                        <p><a href="./cookies.html">Cookies Policy</a></p>
                    </div>
                </div>
               </div>

            <div class="f4">
                <h2>Contact</h2>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                        Telangana-500081</p>
                </div>

                <div>
                    <i class="fa-regular fa-envelope"></i>
                    <p>info@ascustech.in</p>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>9576856487</p>
                </div>
            </div>

        </div>
        <hr>
        <div class="f-bottom">
            <p>©copyright 2021 Ascustech.</p>
        </div>
    </footer>


</body>

</html>