<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI/UX </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../stylesheets/UI&UXPages.css">
    <link rel="stylesheet" href="../stylesheets/res.css">

</head>

<body>
    <div class="container">
        <div class="nav">

            <div class="image1">
                <img src="../Media/ascus.png" />
            </div>

            <div class="home">
                <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>

                <h6 class="rightNav"><a href="../Templates/About.html" >About Us</a>
                    <div class="about">
                        <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                        <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                    </div>
                </h6>

                <h6 class="rightNav">
                    <a href="../Templates/services.html"  class="active">Services </a>
                    <div class="ser">
                        <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                        <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                        <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                        <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                        <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                        <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                        <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                        <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                    </div>
                </h6>
                <button><a href="../Templates/contact.html">Contact Us</a></button>
            </div>
            <div class="sideNav">
                <input type="checkbox" id="side">
                <label for="side" class="lines">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </label>
                <div class="Slide">
                    <div class="SideTop">
                        <label for="side">X</label>
                        
                    </div>
                    <div class="SlideLinks">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <input type="checkbox" id="aLink">
                        <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="aLinks">
                            <a href="../Templates/Our Vision.html">Our Vision</a>
                            <a href="../Templates/ourmission.html">Our Mision</a>
                        </div></li>
                        <li>
                            <input type="checkbox" id="sLink">
                            <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                        <div class="cc">
                            <a href="../Templates/webdev.html">Web Development</a>
                            <a href="../Templates/appdevelopment.html">App Development</a>
                            <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                            <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                            <a href="../Templates/cyber.html">Cyber Security Development</a>
                            <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                            <a href="../Templates/Egovt.html">E-Governance</a>                            
                        </div>
                        </li>
                        <li><a href="../Templates/contact.html">ContactUs</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box1">
        <h1>UI & UX Design</h1>
        <h5><a href="../Templates/services.html">Services</a> / UI & UX Design</h5>
    </div>
    <div class="main">
        <div class="part1">
            <div class="para">
                <h1>Designing Intuitive and Engaging User Experiences</h1>
                <p>UI refers to the screens, buttons, toggles, icons, and other visual elements that you interact
                    with when using a website, app, or other electronic device. UX refers to the entire interaction
                    you have with a product, including.</p>
               <div class="butn"><button>Get Touch In</button></div> 
            </div>
            <div class="para1">
                <img src="https://miro.medium.com/v2/resize:fit:1165/1*ICPAnKJNLNcskN0Trr9uUA.png">
            </div>
        </div>
        <div class="part2">
            <div class="para2">
                <img src="https://img.freepik.com/free-vector/gradient-style-ui-ux-background_52683-69621.jpg?semt=ais_hybrid">
            </div>
            <div class="para3">
                <h1>A creative unique modern landing page or website UI UX | Upwork</h1>
                <p>Pagination is the process of splitting the contents of a website, or a section of contents from a
                    website, into discrete pages. This user interface design pattern is used so site visitors are not
                    <br>overwhelmed by a mass of data on one page.</p>
                <div class="butn"><button>Get Touch In</button></div>
            </div>
        </div>
    
        <div class="part3">
            <h1>Our UI/UX Design Services</h1>
        </div>
    
        <div class="Click">
            <div class="para4">
                <div class="user">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd7P3Hd48_arugjrhJyl6F_YnQWPWq5WCj-Q&usqp=CAU"><br>
                </div>
                <h4>User-Centered Design</h4>
                <p>UI stands for user interface. It is the bridge between humans and computers. Anything you interact with
                      screens, sounds.</p>
            </div>
            <div class="para4">
                <div class="user">
                    <img
                        src="https://png.pngtree.com/png-clipart/20211020/ourmid/pngtree-gradient-ui-ux-user-interface-icon-mobile-for-social-media-png-image_3973585.png"><br>
                </div>
                <h4>Responsive Design</h4>
                <p>A red light signaling 'stop' and turning green for 'go' are basic examples of UX in the real world. They
                and follow.</p>
            </div>
            <div class="para4">
                <div class="user">
                    <img
                        src="https://nyusoft.com/wp-content/themes/twentytwentyone-child/images/services/UI-UX-design-services/banner-image-ui-ux.png">
                </div>
                <h4> Creative & Functional</h4>
                <p>business owners and other designers a clear insight into how different elements of the product work
                    prototyping process.</p>
            </div>
            <div class="para4">
                <div class="user">
                    <img
                        src="https://cdn1.vectorstock.com/i/1000x1000/33/10/ux-ui-design-icon-outline-vector-33243310.jpg"><br>
                </div>
    
                <h4>Iterative Process</h4>
                <p>It is the bridge between humans and computers. Anything you interact with as a user is part of the user
                     s are all elements.</p>
            </div>
            <div class="para4">
                <div class="user">
                    <img
                        src="https://static.vecteezy.com/system/resources/previews/016/878/155/original/ui-ux-design-outline-icon-design-illustration-design-and-development-symbol-on-white-background-eps-10-file-vector.jpg"><br>
                </div>
                <h4>Prototyping & Testing</h4>
                <p>A red light signaling 'stop' and turning green for'go' are basic examples of UX in the real world. They
                     ,understand and follow.</p>
            </div>
        </div>
    </div>
    
        <div class="part4">
            <div class="para5">
                <div class="para6">
                    <h2>Elevate Your Digital Experience</h2>
                    <p>People get easily bored with trends, and every few years, the pendulum swings from one way to
                        another. We have <br>all seen the rise and fall of iconic fashion pieces or art movements. <br>The
                        same thing happens in User Interface (UI) design. UI trends go from interfaces that mimic real-world
                        objects <br>to super-minimal interfaces with no embellishments. All of these have their advantages
                        and disadvantages. <br>With knowledge about these UI trends, you can create and experiment with new
                        ideas, which are essential to <br>push the design industry forward, and elevate your own design
                        practice.</p>
                </div>
                <div class="para7">
                    <img src="https://icore.sg/wp-content/uploads/2024/03/ui-ux.webp">
                </div>
            </div>
        </div>
        <div class="main">
            <div class="part5">
                <h2>Key Differences Between<br>UI and UX Design</h2>
            </div>
            <div class="Ding">
                <div class="flat">
                    <div class="para8">
                        <h4>UI Design</h4>
                    </div>
                    <div class="blog">
                        <h5>Feel</h5>
                        <p> the overall feel of the eperience within the product</p>
                    </div>
                    <div class="blog">
                        <h5>Prototyping</h5>
                        <p>creates wireframes and testables prototype that form the basics of awebsite.</p>
                    </div>
                    <div class="blog">
                        <h5>High-level</h5>
                        <p>takes a high level view of a product it is consider by low level</p>
                    </div>
                </div>
                <div class="flat">
                    <div class="para9">
                        <h4>UX Design</h4>
                    </div>
                    <div class="blog">
                        <h5>Look</h5>
                        <p>the overall feel of the experience within the product</p>
                    </div>
                    <div class="blog">
                        <h5>Design</h5>
                        <p>creates wireframes ,and testables prototype that form the basics of awebsite.</p>
                    </div>
                    <div class="blog">
                        <h5>Details</h5>
                        <p>takes a high level view of a product it is consider by high levelt</p>
                    </div>
                </div>
            </div>
        </div>
    <footer>
        <div class="foot1">

            <div class="f1">

                <div class="image3">
                    <img src="../Media/ascus.png" />
                </div>

                <div class="f-icons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

            </div>

            <div class="footerLinks">
                <div class="f2">
                    <div class="qq">
                        <h2> Quick Links </h2>
                        <p><a href="./services.html">Services</a> </p>
                        <p><a href="./About.html">About Us</a></p>
                        <p><a href="./career.html">Career</a></p>
                        <p><a href="./contact.html">Contact</a></p>
                    </div>
                </div>
    
                <div class="f3">
                    <div class="qq">
                        <h2>Legal</h2>
                        <p><a href="./terms.html">Terms & Conditions</a></p>
                        <p><a href="./privacy.html">Privacy Policy</a></p>
                        <p><a href="./refund.html">Refund Policy</a></p>
                        <p><a href="./cookies.html">Cookies Policy</a></p>
                    </div>
                </div>
               </div>

            <div class="f4">
                <h2>Contact</h2>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                        Telangana-500081</p>
                </div>

                <div>
                    <i class="fa-regular fa-envelope"></i>
                    <p>info@ascustech.in</p>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>9576856487</p>
                </div>
            </div>

        </div>
        <hr>
        <div class="f-bottom">
            <p>©copyright 2021 Ascustech.</p>
        </div>
    </footer>




    </div>



    </div>
    </div>




</body>

</html>