<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Development</title>
    <link rel="stylesheet" href="../stylesheets/webmobdev.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../stylesheets/res.css">

</head>
<body>
    
        <div class="head">
            <div class="container">
                <div class="nav">

                    <div class="image1">
                        <img src="../Media/ascus.png" />
                    </div>
        
                    <div class="home">
                        <h6 class="rightNav"><a href="../Templates/index.html">Home</a></h6>
        
                        <h6 class="rightNav"><a href="../Templates/About.html"  >About Us</a>
                            <div class="about">
                                <li><a href="../Templates/Our Vision.html">Our Vision</a></li>
                                <li><a href="../Templates/ourmission.html">Our Mission</a></li>
                            </div>
                        </h6>
        
                        <h6 class="rightNav">
                            <a href="../Templates/services.html" class="active">Services </a>
                            <div class="ser">
                                <li><a href="../Templates/webdev.html">Web Devlopement</a></li>
                                <li><a href="../Templates/mobdev.html">Mobile Devlopement</a></li>
                                <li><a href="../Templates/appdevelopment.html">App Devlopement</a></li>
                                <li><a href="../Templates/customdevelopment.html">Custom Software Develpoment</a></li>
                                <li><a href="../Templates/UI&UX Pages.html">UI and UX Designs</a></li>
                                <li><a href="../Templates/cyber.html">Cyber Security Development</a></li>
                                <li><a href="../Templates/Digital Marketing.html">Digital Marketing</a></li>
                                <li><a href="../Templates/Egovt.html">E-Governance</a></li>
                            </div>
                        </h6>
                        <button><a href="../Templates/contact.html">Contact Us</a></button>
                    </div>
                    <div class="sideNav">
                        <input type="checkbox" id="side">
                        <label for="side" class="lines">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </label>
                        <div class="Slide">
                            <div class="SideTop">
                                <label for="side">X</label>
                                
                            </div>
                            <div class="SlideLinks">
                                <li><a href="index.html">Home</a></li>
                                <li>
                                    <input type="checkbox" id="aLink">
                                <Label for="aLink">About <i class="fa-solid fa-chevron-down"></i></Label>
                                <div class="aLinks">
                                    <a href="../Templates/Our Vision.html">Our Vision</a>
                                    <a href="../Templates/ourmission.html">Our Mision</a>
                                </div></li>
                                <li>
                                    <input type="checkbox" id="sLink">
                                    <Label for="sLink">Services <i class="fa-solid fa-chevron-down"></i></Label>
                                <div class="cc">
                                    <a href="../Templates/webdev.html">Web Development</a>
                                    <a href="../Templates/appdevelopment.html">App Development</a>
                                    <a href="../Templates/customdevelopment.html">Custom Software Develpoment</a>
                                    <a href="../Templates/UI&UX Pages.html">UI and UX Designs</a>
                                    <a href="../Templates/cyber.html">Cyber Security Development</a>
                                    <a href="../Templates/Digital Marketing.html">Digital Marketing</a>
                                    <a href="../Templates/Egovt.html">E-Governance</a>                            
                                </div>
                                </li>
                                <li><a href="../Templates/contact.html">ContactUs</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box1">
                <h1>Web Development</h1>
                <h5><a href="../Templates/services.html">Services</a> / Web Development</h5>
            </div>
        </div>
    <div class="container">
        <div class="box">
            
            <div class="box2">
                <div class="cont1">
                    <div class="con1">
                        <img src="../Media/webImage.png" alt="" width="300px" height="200px">
                    </div>
                    <div class="con2">
                        <p>In today's digital age, a powerful online presence is crucial for business success. AscusTech specializes in web development services that create visually stunning, highly functional websites tailored to your unique business needs. Whether you're launching a new site or optimizing an existing platform, our team has the expertise to bring your vision to life.</p>
                    </div>
                </div>
                <div class="cont2">
                    <h4>Why Choose AscusTech for Web Development?</h4>
                        <div class="dc">
                            <div class="dc1">
                                <div class="dd1">
                                
                                        <div class="d1">
                                            <img src="../Media/img2.png" alt="" width="100px" height="100px" style="margin-left: 25px;">
                                        </div>
                                        <div class="d2">
                                            <h5>Custom Web Solutions </h5>
                                            <p>We recognize that every business is different. Our web development services are customized to fit your specific requirements, ensuring a website that not only meets but exceeds your business goals and user expectations.</p>
                                        </div>
                                </div>
                                <div class="dd2">
                                    
                                        <div class="d1">
                                            <img src="../Media/img3.png" alt=""width="150px" height="150px" style="margin-top: -20px;">
                                        </div>
                                        <div class="d2">
                                            <h5>Cutting-Edge Technologies</h5>
                                            <p>We stay at the forefront of web development trends, utilizing the latest technologies and best practices to deliver websites that are fast, secure, and scalable.</p>
                                        </div>
                                </div>
                            </div>
                            <div class="dc2">
                                <div class="dd1">
                                    
                                        <div class="d1">
                                            <img src="../Media/img4.png" alt="" width="100px" height="100px">
                                        </div>
                                        <div class="d2">
                                            <h5>SEO-Friendly Development </h5>
                                            <p>A great website is only effective if it's easy to find. We build SEO-friendly websites that help you rank higher in search engine results, driving more traffic and increasing visibility.
                                            </p>
                                        </div>
                                </div>
                                <div class="dd2">
                                    
                                        <div class="d1">
                                            <img src="../Media/img5.png" alt="" width="100px" height="100px">
                                        </div>
                                        <div class="d2">
                                            <h5>Ongoing Support & Maintenance </h5>
                                            <p>Our commitment doesn't end when your website goes live. We offer continuous support and maintenance services to ensure your site remains up-to-date and performs optimally over time.
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="sap">
                        <div class="d1">
                            <img src="../Media/img6.png" alt="" width="100px" height="100px" style="margin-left: 100px;">
                        </div>
                        <div class="d2">
                            <h5>Responsive Design </h5>
                            <p>In a world where users access websites from a variety of devices, a responsive design is essential. Our developers craft websites that look and perform flawlessly across desktops, tablets, and smartphones.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="process">
            <h4>Our Web Development Process</h4>
            <div class="proc">
                <div class="pro1">
                    <h5>Consultation & Planning</h5>
                    <p>We start by understanding your business, target audience, and objectives. This allows us to create a strategic plan that guides the development process and ensures your website is designed for success.</p>
                </div>
                <div class="pro1">
                    <h5>Design & Prototyping</h5>
                    <p>Our design team creates detailed wireframes and prototypes to visualize your website's structure and functionality. We collaborate closely with you to refine these designs until they align perfectly with your vision</p>
                </div>
                <div class="pro1">
                    <h5>Development & Testing</h5>
                    <p>Our developers use the latest coding practices and technologies to build your website. We conduct rigorous testing to ensure it is bug-free and performs optimally across all devices</p>
                </div>
                <div class="pro1">
                    <h5>Launch & Support</h5>
                    <p>Once your website is ready, we manage the deployment process, ensuring a smooth launch. Post-launch, we provide continuous support and updates to keep your site at peak performance</p>
                </div>
            </div>
        </div>
        <div class="sol">
            <h4>Web Solutions for Every Industry</h4>
            <p><i class="fa-solid fa-right-long"></i> &nbsp; Retail & E-commerce</p>
            <p><i class="fa-solid fa-right-long"></i> &nbsp; Healthcare</p>
            <p><i class="fa-solid fa-right-long"></i> &nbsp; Education</p>
            <p><i class="fa-solid fa-right-long"></i> &nbsp; Finance</p>
            <p><i class="fa-solid fa-right-long"></i> &nbsp; Entertainment</p>            
            <p><i class="fa-solid fa-right-long"></i> &nbsp; Real Estate</p>
            <p><i class="fa-solid fa-right-long"></i> &nbsp; And More!</p>
        </div>
        <div class="get">
            <h4>Get Started with AscusTech</h4>
            <p>Ready to elevate your online presence with a top-tier website? Partner with AscusTech to create a website that not only meets but exceeds your expectations. Contact us today for a free consultation and discover how we can help your business thrive online.
            </p>
        </div>
        <footer>
            <div class="foot1">
    
                <div class="f1">
    
                    <div class="image3">
                        <img src="../Media/ascus.png" />
                    </div>
    
                    <div class="f-icons">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
    
                </div>
    
                <div class="footerLinks">
                    <div class="f2">
                        <div class="qq">
                            <h2> Quick Links </h2>
                            <p><a href="./services.html">Services</a> </p>
                            <p><a href="./About.html">About Us</a></p>
                            <p><a href="./career.html">Career</a></p>
                            <p><a href="./contact.html">Contact</a></p>
                        </div>
                    </div>
        
                    <div class="f3">
                        <div class="qq">
                            <h2>Legal</h2>
                            <p><a href="./terms.html">Terms & Conditions</a></p>
                            <p><a href="./privacy.html">Privacy Policy</a></p>
                            <p><a href="./refund.html">Refund Policy</a></p>
                            <p><a href="./cookies.html">Cookies Policy</a></p>
                        </div>
                    </div>
                   </div>
        
                <div class="f4">
                    <h2>Contact</h2>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <p> Plot No: 36 & 37, Survey No: 86, Vittal<br> Rao Nagar, Madhapur, Hi-tech City,<br> Hyderabad,
                            Telangana-500081</p>
                    </div>
    
                    <div>
                        <i class="fa-regular fa-envelope"></i>
                        <p>info@ascustech.in</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <p>9576856487</p>
                    </div>
                </div>
    
            </div>
            <hr>
            <div class="f-bottom">
                <p>©copyright 2021 Ascustech.</p>
            </div>
        </footer>
</body>
</html>